.vasilikiMinou {
    position: absolute;
    top: 38px;
    left: 60px;
  }
  .uxResearchDesignChild {
    position: absolute;
    top: -214px;
    left: 318px;
    width: 1403.77px;
    height: 1197.47px;
    object-fit: contain;
    opacity: 0.84;
  }
  .home {
    position: absolute;
    top: 38px;
    left: 1082px;
  }
  .aboutMe,
  .euphoriaChild,
  .work {
    position: absolute;
    top: 38px;
    left: 1187px;
  }
  .euphoriaChild,
  .work {
    left: 1326px;
  }
  .euphoriaChild {
    top: 2.86px;
    left: 169.39px;
    border-radius: var(--br-52xl);
    background-color: #6279ff;
    width: 178.7px;
    height: 290.57px;
    transform: rotate(-32.06deg);
    transform-origin: 0 0;
  }
  .icon,
  .icon1 {
    position: absolute;
    top: 23px;
    left: 214px;
    width: 66px;
    height: 130px;
    object-fit: cover;
  }
  .icon1 {
    top: 46px;
    left: 285px;
    width: 67px;
    height: 131px;
  }
  .euphoria,
  .uxResearchDesignBoxChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    width: 374px;
    height: 199px;
  }
  .euphoria {
    background-color: var(--color-linen);
    overflow: hidden;
  }
  .uxResearchDesignBoxChild {
    background-color: var(--color-aliceblue);
    opacity: 0.25;
  }
  .uxResearchDesignBox {
    position: absolute;
    top: 351px;
    left: 60px;
    width: 374px;
    height: 199px;
  }
  .uphoria {
    position: absolute;
    top: 351px;
    left: 479px;
    font-family: var(--font-khmer);
    color: var(--color-blueviolet);
    cursor: pointer;
  }
  .anOnlineLibraryBased {
    margin: 0;
  }
  .anOnlineLibraryBasedContainer {
    top: 413px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 652px;
  }
  .anOnlineLibraryBasedContainer,
  .designingForExperiences,
  .introducingAnInclusive {
    position: absolute;
    left: 479px;
    font-family: var(--font-khmer);
  }
  .designingForExperiences {
    top: 849px;
    color: var(--color-blueviolet);
    cursor: pointer;
  }
  .introducingAnInclusive {
    top: 911px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 652px;
  }
  .vfrChild {
    position: absolute;
    top: 47.86px;
    left: -151px;
    border-radius: var(--br-52xl);
    background-color: #3a3d86;
    width: 178.7px;
    height: 290.57px;
    transform: rotate(-32.06deg);
    transform-origin: 0 0;
  }
  .vfr101Icon {
    top: 29px;
    left: 227px;
    width: 135px;
    height: 142px;
    object-fit: cover;
  }
  .vfr,
  .vfr101Icon,
  .vfr21Icon {
    position: absolute;
  }
  .vfr21Icon {
    top: 29px;
    left: 121px;
    width: 133px;
    height: 142px;
    object-fit: cover;
  }
  .vfr {
    top: 849px;
    left: 60px;
    border-radius: var(--br-sm);
    background-color: var(--color-linen);
    width: 374px;
    height: 199px;
    overflow: hidden;
  }
  .uxResearchDesign {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1450px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--font-italiana);
  }
  