.uphoriaChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-linen-100);
    width: auto;
    height: 122px;
    opacity: 0.84;
  }
  .activityLibrary1,
  .uphoriaItem {
    position: absolute;
    top: 311px;
    left: 606px;
    width: 616px;
    height: 397px;
    object-fit: cover;
  }
  .uphoriaItem {
    top: 2701px;
    width: 100vw;
    height: 2148.88px;
    object-fit:fill;
    opacity: 0.84;
  }
  .aboutSysdoc {
    position: absolute;
    top: 430px;
    left: 60px;
    color: var(--color-blueviolet);
    font-size: 25px;
  }
  .skills {
    color: var(--color-darkslateblue-100);
  }
  .skillsUserResearchCustome {
    margin: 0;
  }
  .skillsUserResearchContainer {
    position: absolute;
    top: 197px;
    right: 200px;
    font-size: var(--font-size-mini);
    white-space: pre-wrap;
    display: inline-block;
    width: 395px;
  }
  .uphoriaLogo1 {
    position: absolute;
    top: 197px;
    left: 52px;
    width: 276px;
    height: 158px;
    object-fit: cover;
  }
  .researchApproach,
  .uphoria1 {
    position: absolute;
    left: 60px;
    color: var(--color-blueviolet);
  }
  .uphoria1 {
    top: 286px;
    font-size: 25px;
  }
  .researchApproach {
    top: 656px;
    font-size: 25px;
  }
  .withAWide {
    position: absolute;
    top: 477px;
    left: 60px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 771px;
    font-size: 17px;
  }
  .thisProjectAimsContainer {
    top: 703px;
    font-size: var(--font-size-mini);
    width: 80vw;
    font-size: 17px;
  }
  .conceptOverview,
  .theFindingsFromContainer,
  .thisProjectAimsContainer {
    position: absolute;
    left: 60px;
    display: inline-block;
  }
  .conceptOverview {
    top: 960px;
    color: var(--color-blueviolet);
    width: 80vw;
    font-size: 25px;
  }
  .theFindingsFromContainer {
    top: 1013px;
    font-size: var(--font-size-mini);
    width: 80vw;
    font-size: 17px;
  }
  .personalisationDifferentPer {
    margin-bottom: 0;
  }
  .motivationTraditionalFitnes {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 20px;
  }
  .theKeyElementsContainer {
    position: absolute;
    top: 1694px;
    left: 60px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 80vw;
    font-size: 17px;
  }
  .uphoriaInner {
    position: absolute;
    top: 1211px;
    left: 0;
    background-color: var(--color-linen-100);
    width: 1440px;
    height: 430px;
    opacity: 0.3;
  }
  .customerJourneyMap2 {
    position: absolute;
    top: 2236px;
    left: 371px;
    border-radius: 19px;
    width: 697px;
    height: 343px;
    object-fit: cover;
  }
  .conceptImage {
    position: absolute;
    top: 1250px;
    left: 300px;
    width: 356px;
    height:314px;
    object-fit: cover;
  }
  .valueProp {
    position: absolute;
    top: 1250px;
    left: 900px;
    width: 575px;
    height: 301px;
    object-fit: cover;
  }
  .solutions {
    position: absolute;
    top: 2706px;
    left: 60px;
    color: var(--color-blueviolet);
    font-size: 25px;
  }
  .anOnlineCommunityContainer {
    position: absolute;
    top: 2753px;
    left: 60px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 726px;
    font-size: 17px;
  }
  .recommendationsNext {
    position: absolute;
    top: 3741px;
    left: 60px;
    color: var(--color-blueviolet);
    font-size: 25px;
  }
  .eachUserOnContainer,
  .theStudyAcknowledgesContainer {
    position: absolute;
    top: 3788px;
    left: 60px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 80vw;
    font-size: 17px;
  }
  .eachUserOnContainer {
    top: 3479px;
    left: 62px;
    width: 80vw;
  }
  .userJourneyMap {
    position: absolute;
    top: 2029px;
    left: 60px;
    color: var(--color-blueviolet);
    font-size: 25px;
  }
  .analysingTheCustomer {
    position: absolute;
    top: 2076px;
    left: 60px;
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 80vw;
    font-size: 17px;
  }
  .icon,
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    position: absolute;
    top: 2740px;
    left: 1002px;
    width: 133px;
    height: 257px;
    object-fit: cover;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    top: 2857px;
    left: 1166px;
    width: 135px;
    height: 256px;
  }
  .icon2,
  .icon3,
  .icon4 {
    top: 3108px;
    left: 220px;
    width: 126px;
    height: 250px;
  }
  .icon3,
  .icon4 {
    top: 3118px;
    left: 374px;
    width: 89px;
    height: 171px;
  }
  .icon4 {
    top: 3058px;
    left: 506px;
    width: 119px;
    height: 231px;
  }
  .ellipseIcon,
  .icon5 {
    position: absolute;
    top: 3579.59px;
    left: 820px;
    width: 193.5px;
    height: 148.83px;
    object-fit: contain;
  }
  .ellipseIcon,
  .icon5 {
    top: 3086px;
    left: 873px;
    width: 195.67px;
    height: 176.84px;
  }
  .icon5 {
    top: 4121px;
    left: 512px;
    border-radius: 20px;
    width: 415px;
    height: 432px;
    object-fit: cover;
  }
  .uphoria {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 4761px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslateblue-300);
    font-family: var(--font-khmer);
  }
  