.workChild {
  background-color: var(--color-blueviolet);
  width: auto;
  height: 2648px;
  opacity: 0.3;
  }
  .workItem {
    position: absolute;
    top: 30px;
    right: -450px;
    height: 2503.27px;
    object-fit:fill;
    opacity: 0.84;
    width: 100vw;
  }
  .uphoriaBox {
    position: absolute;
    top: 310px;
    left: 85px;
    width: 374;
    height: 199px;
    object-fit: cover;
  }
  .creativeBox {
    position: absolute;
    top: 900px;
    left: 85px;
    width: 374;
    height: 199px;
    object-fit: cover;
  }
  .automotiveBox {
    position: absolute;
    top: 1490px;
    left: 85px;
    width: 374;
    height: 199px;
    object-fit: cover;
  }
  .groupChild {
    top: 0;
    left: 0;
    border-radius: var(--br-4xs);
    background-color: var(--color-linen);
    width: 224px;
    height: 34.33px;
  }
  .uxResearch {
    position: absolute;
    top: 5px;
    left: 15px;
    display: inline-block;
    width: 194px;
    height: 17.1px;
  }
  .rectangleParent {
    position: absolute;
    top: 392px;
    left: 527px;
    width: 224px;
    height: 34.33px;
    cursor: pointer;
  }
  .automotiveDesign,
  .rectangleGroup {
    position: absolute;
    top: 5px;
    left: 33px;
  }
  .rectangleGroup {
    top: 1570px;
    left: 527px;
    width: 224px;
    height: 34.33px;
  }
  .creativeDesign {
    position: absolute;
    top: 5px;
    left: 52px;
  }
  .rectangleContainer {
    position: absolute;
    top: 981px;
    left: 527px;
    width: 224px;
    height: 34.33px;
  }
  .work {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2100px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--font-italiana);
  }
  